productionModeEnabled=B"true"
indexNamePrefix="{{ liferay_app_data.env_name }}-liferay-"
retryOnConflict="5"
authenticationEnabled=B"true"
username="elastic"
password="{{ liferay_app_data.elasticsearch_password }}"
httpSSLEnabled="true"
truststoreType="pkcs12"
truststorePath="{{ liferay_app_data.liferay_home }}/osgi/configs/elastic-nodes.p12"
truststorePassword="liferay"
networkHostAddresses=[{{ liferay_app_data.elasticsearch_master }}]
